<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	<div id="react-app">Loadinggg...</div>
    <script src="/javascripts/build.js"></script>
  </body>
</html>
